a, a > code {
  color: #922122;
  font-weight: bold;
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 60%;
}


/* Two-column layout (from Default theme)*/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}


.remark-code-line-highlighted     { background-color: fce300 ; }

.remark-slide-content {
  border-top: 8px solid #002c55;
  border-bottom: 8px solid #002c55;
  border-right: 11px solid #002c55;
  border-left: 11px solid #002c55;
  padding: 1em 2em 1em 2em
}

.remark-slide-content > h1 {
  font-weight: normal;
  margin-top: 10px;
  margin-left: -00px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #002c55;
  font-size: 90%
}

.inverse {
  background-color: #002c55;
  color: #d6d6d6;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

table {
  margin: auto;
  font-size: 90%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

/* Define Colors */
/*UM Standard Colors*/
.red {
/* Actually it is THE University Red LOLOL*/
  color: #922122
}

.gold {
/* University Gold*/
  color: #d1a825
}

.blue {
/* University Blue*/
  color: #002c55
}

/*UM Secondary Colors*/